<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoSurf</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1 style="color: white">Добро пожаловать в GeoSurf</h1>
</header>

{% include '_menu.html' %}

{#<div class="content">#}
{#    <div class="map-container map1">#}
{#        {{ kepler_html|safe }}#}
{#    </div>#}

    <div class="sidebar">
        <h2>О проекте</h2>
        <p>
            Проект "GeoSurf" предоставляет возможность предприятиям прогнозировать и оптимизировать свою деятельность с использованием геоаналитики и искусственного интеллекта.
        </p>

        <h2>Для кого это?</h2>
        <p>
            Наш сервис предназначен для двух категорий предпринимателей:
        </p>
        <ul>
            <li>Пользователей с существующим бизнесом, желающих оптимизировать расположение своих точек продаж и улучшить удержание клиентов.</li>
            <li>Новых предпринимателей, ищущих оптимальное место для открытия своего бизнеса с учетом геоаналитики.</li>
        </ul>

        <h2>Что мы предоставляем?</h2>
        <p>
            Получите прогноз потребительской активности и рекомендации по оптимальной локации для вашего предприятия. Наш сервис сократит трудность анализа и уменьшит вероятность ошибок при размещении точек продаж.
        </p>

        <h2>Зачем регистрироваться?</h2>
        <p>
            Регистрация позволит вам получить доступ ко всем функциональным возможностям, включая анализ геоданных и прогнозирование активности клиентов, что в конечном итоге приведет к повышению потока потребителей в ваших точках продаж.
        </p>

        <h2>Анализ оттока клиентов</h2>
        <p>
            Наша система также предоставляет возможность анализа оттока клиентов. Получите данные и рекомендации для улучшения удержания клиентов и снижения потерь доходов.
        </p>
    </div>
</div>

</body>
</html>
